extends layout

block layout-content
  div.View(id='view')
    h1.Banner Kanban Board
    div.kanban
      div(id='con_inCorso').kanban-container
        hr(id='sep')
      div(id='con_archiviato').kanban-container

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='openAddColumnForm()'
        ) Crea Nuova Colonna

    div.form-popup-add-column(id='addColumnForm')
      form(action='/addNewColumn' method='GET') 
        h2 Aggiungi Colonna
        br
        | Titolo: 
        input(type='text', name='colTitle', placeholder='Colonna' required)
        br
        br
        | Stato: 
        select(name='colType')
          option(value='in corso') In Corso
          option(value='archiviato') Archiviato
        br
        br
        input(type='submit' class='btn-add-tile' value='Crea Colonna' onclick='closeAddColumnForm()')
        input(type='button' class='btn-delete-column' value='Annulla' onclick='closeAddColumnForm()')
      
  script.
    
    var createdTiles = 0;

    document.addEventListener("DOMContentLoaded", function() {
      loadColumns();
    });

    function addNewColumn(title, type){
      if (type === 'in corso'){
        var strContainer = 'con_inCorso';
        var state = 'In Corso';
      }
      else {
        var strContainer = 'con_archiviato';
        var state = 'Archiviato';
      }
      var container = document.getElementById(strContainer);

      var newHeader = document.createElement('div');
      newHeader.className = 'kanban-column-header';
      newHeader.setAttribute("id", "header_" + title);
      newHeader.innerHTML = title;

      var newColumn = document.createElement('div');
      newColumn.className = 'kanban-column';
      newColumn.setAttribute("id", "col_" + title);

      var newList = document.createElement('ul');
      newList.className = 'kanban-column-list';
      newList.setAttribute("id", "list_" + title);

      var newFooter = document.createElement('div');
      newFooter.className = 'kanban-column-footer';
      newFooter.setAttribute("id", "footer_" + title);
      newFooter.innerHTML = state;      
    
      newColumn.appendChild(newHeader);

      // Qui appendere i tiles alla lista
      var tiles = "#{tiles}";
      var tileList = JSON.parse(tiles.replace(/&quot;/g, '"'));
      tileList.forEach(tile => {
        if (tile.titoloColonna === title){
          var newTile = document.createElement('li');
          if (tile.tipo_messaggio === 'organizzativo')
            newTile.className = 'tile-organizzativo';
          else 
            newTile.className = 'tile-informativo';
          newTile.setAttribute("id", "tile_" + tile.id);
          if (type === 'in corso')
            newTile.setAttribute("onclick", "openEditTileForm(\""
              + tile.id + "\",\"" + tile.titolo + "\",\"" + tile.autore + "\",\"" + tile.contenuto + "\",\""
              + tile.tipo_messaggio + "\",\"" + tile.tipo_contenuto + "\",\"" + tile.titoloColonna + "\")");

          if (tile.tipo_contenuto === 'testo'){
            newTile.innerHTML = 
              '<b><center>' + tile.titolo + '</center></b><hr>' + tile.contenuto +
              '<hr><table width=100%><tr><td><font color="grey" size=2>' + tile.autore + '</font></td>' 
              + '<td><p align="right"><font size=2>' + tile.tipo_messaggio + '</font></p></td></tr></table>';
          }
          else {     
            newTile.innerHTML =
              '<b><center>' + tile.titolo + '</center></b><hr><div class="kanban"><img src="./loadImage?imageName=' + tile.contenuto +
              '"/></div><hr><table width=100%><tr><td><font color="grey" size=2>' + tile.autore + '</font></td>' 
              + '<td><p align="right"><font size=2>' + tile.tipo_messaggio + '</font></p></td></tr></table>';
          }
          newList.appendChild(newTile);
        }
      })

      newColumn.appendChild(newList);
      newColumn.appendChild(newFooter);

      var newHiddenTitle = document.createElement('input');
      newHiddenTitle.setAttribute("type", "hidden");
      newHiddenTitle.setAttribute("value", title);
      newHiddenTitle.setAttribute("name", "tileColumnTitle");

      var newEditColumnButton = document.createElement('button');
      newEditColumnButton.className = 'btn-edit-column';
      newEditColumnButton.setAttribute("id", "btn_edit_" + title);
      newEditColumnButton.setAttribute("onclick", "openEditColumnForm(\""+ title +"\")");
      newEditColumnButton.innerHTML = 'Modifica';

      if (type === 'in corso'){
        var newAddForm = document.createElement('button');
        newAddForm.setAttribute("onclick", "openAddTileForm(\"" + title + "\")");
        newAddForm.className = 'btn-add-tile';
        newAddForm.innerHTML = "Nuovo Tile";

        var newDeleteForm = document.createElement('form');
        newDeleteForm.setAttribute("method", "get");
        newDeleteForm.setAttribute("action", "/deleteColumn");
        newDeleteForm.appendChild(newHiddenTitle);

        var newDeleteColumnButton = document.createElement('button');
        newDeleteColumnButton.className = 'btn-delete-column';
        newDeleteColumnButton.setAttribute("id", "btn_delete_" + title);
        newDeleteColumnButton.setAttribute("type", "submit");
        newDeleteColumnButton.innerHTML = 'Rimuovi';
        newDeleteForm.appendChild(newDeleteColumnButton);

        var newTable = document.createElement('table');
        newTable.setAttribute("width", "100%");

        var row = document.createElement('tr');

        var td1 = document.createElement('td');
        td1.appendChild(newAddForm);
        row.appendChild(td1);
        var td2 = document.createElement('td');
        td2.appendChild(newEditColumnButton);
        row.appendChild(td2);
        var td3 = document.createElement('td');
        td3.appendChild(newDeleteForm);
        row.appendChild(td3);        

        newTable.appendChild(row);
        newColumn.appendChild(newTable);


        container.insertBefore(newColumn, document.getElementById('sep'));    
      }  
      else{
        newColumn.appendChild(newEditColumnButton);
        container.appendChild(newColumn);
      }
    }

    function loadColumns(){
      var columns = "#{columns}";
      var columnList = JSON.parse(columns.replace(/&quot;/g, '"'));
      columnList.forEach(column => {
        addNewColumn(column.titolo, column.stato);
      })
    }

    function openAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "block";
    }

    function closeAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "none";
    }

    function openAddTileForm(columnTitle){
      var addTileForm = document.createElement("form");
      addTileForm.className = "form-popup-add-tile";
      addTileForm.setAttribute("method", "get");
      addTileForm.setAttribute("action", "/addNewTile");
      addTileForm.setAttribute("id", "addTileForm" + columnTitle);

      var hiddenTitle = document.createElement('input');
      hiddenTitle.setAttribute("type", "hidden");
      hiddenTitle.setAttribute("value", columnTitle);
      hiddenTitle.setAttribute("name", "tileColumnTitle");
      addTileForm.appendChild(hiddenTitle);

      var addTileH2 = document.createElement('h2');
      addTileH2.innerHTML = "<center>Aggiungi Tile</center><br>";
      addTileForm.appendChild(addTileH2);

      var tileTitle = document.createElement('input');
      tileTitle.setAttribute("type", "text");
      tileTitle.setAttribute("name", "tileTitle");
      tileTitle.setAttribute("placeholder", "Titolo");
      addTileForm.appendChild(tileTitle);

      var tileAuthor = document.createElement('input');
      tileAuthor.setAttribute("type", "text");
      tileAuthor.setAttribute("name", "tileAuthor");
      tileAuthor.setAttribute("placeholder", "Autore");
      addTileForm.appendChild(tileAuthor); 

      addTileForm.appendChild(document.createElement("br"));

      var tileMessageText = document.createElement('input');
      tileMessageText.setAttribute("name", "tileContentType");
      tileMessageText.setAttribute("id", "message_type_text");
      tileMessageText.setAttribute("value", "testo");
      tileMessageText.setAttribute("type", "radio");
      tileMessageText.setAttribute("onclick", "setMessageType(\"" + createdTiles + "\", \"text\")");
      addTileForm.appendChild(tileMessageText);

      var textLabel = document.createElement('label');
      textLabel.htmlFor = 'message_type_text';
      var textLabelText = document.createTextNode('Testo');
      textLabel.appendChild(textLabelText);
      addTileForm.appendChild(textLabel);

      var tileMessageImage = document.createElement('input');
      tileMessageImage.setAttribute("name", "tileContentType");
      tileMessageImage.setAttribute("id", "message_type_image");
      tileMessageImage.setAttribute("value", "immagine");
      tileMessageImage.setAttribute("type", "radio");
      tileMessageImage.setAttribute("onclick", "setMessageType(\"" + createdTiles + "\", \"image\")");
      addTileForm.appendChild(tileMessageImage); 

      var imageLabel = document.createElement('label');
      imageLabel.htmlFor = 'message_type_image';
      var imageLabelText = document.createTextNode('Immagine');
      imageLabel.appendChild(imageLabelText);
      addTileForm.appendChild(imageLabel);

      var tileContent = document.createElement('textarea');
      tileContent.setAttribute("rows", "5");
      tileContent.setAttribute("name", "tileContentText");
      tileContent.setAttribute("placeholder", "Contenuto");
      tileContent.setAttribute("id", "textarea_" + createdTiles);
      tileContent.style.display = "none";
      addTileForm.appendChild(tileContent); 

      var tileImage = document.createElement('input');
      tileImage.setAttribute("name", "tileContentImage");
      tileImage.setAttribute("type", "file");
      tileImage.setAttribute("enctype", "multipart/form-data");
      tileImage.setAttribute("accept", "image/*");
      tileImage.setAttribute("id", "image_" + createdTiles);
      tileImage.style.display = "none";
      addTileForm.appendChild(tileImage);

      createdTiles++;

      var tileMessageType = document.createElement('select');
      tileMessageType.setAttribute("name", "tileMessageType");
      var optOrganizzativo = document.createElement("option");
      optOrganizzativo.value = "organizzativo";
      optOrganizzativo.text = "organizzativo";
      tileMessageType.appendChild(optOrganizzativo);
      var optInformativo = document.createElement("option");
      optInformativo.value = "informativo";
      optInformativo.text = "informativo";
      tileMessageType.appendChild(optInformativo);
      addTileForm.appendChild(tileMessageType);

      var tileSubmit = document.createElement('button');
      tileSubmit.className = 'btn-add-tile';
      tileSubmit.setAttribute("type", "submit");
      tileSubmit.setAttribute("onclick", "closeAddTileForm(\"" + columnTitle +"\")");
      tileSubmit.innerHTML = "Crea Tile";
      addTileForm.appendChild(tileSubmit);

      var tileCancel = document.createElement('button');
      tileCancel.className = 'btn-delete-column';
      tileCancel.setAttribute("onclick", "closeAddTileForm(\"" + columnTitle +"\")");
      tileCancel.setAttribute("type", "button");
      tileCancel.innerHTML = "Annulla";
      addTileForm.appendChild(tileCancel);

      document.getElementById("view").appendChild(addTileForm);
      document.getElementById("addTileForm" + columnTitle).style.display = "block";
    }

    function closeAddTileForm(columnTitle){
      document.getElementById("addTileForm" + columnTitle).style.display = "none";
    }

    function openEditColumnForm(columnTitle){
      var editColumnForm = document.createElement("form");
      editColumnForm.className = "form-popup-add-column";
      editColumnForm.setAttribute("method", "get");
      editColumnForm.setAttribute("action", "/editColumn");
      editColumnForm.setAttribute("id", "editColumnForm" + columnTitle);

      var oldHiddenTitle = document.createElement('input');
      oldHiddenTitle.setAttribute("type", "hidden");
      oldHiddenTitle.setAttribute("value",  columnTitle);
      oldHiddenTitle.setAttribute("name", "oldColumnTitle");
      editColumnForm.appendChild(oldHiddenTitle);

      var columnOldTitle = document.createElement('input');
      columnOldTitle.setAttribute("type", "text");
      columnOldTitle.setAttribute("name", "columnTitle");
      columnOldTitle.setAttribute("value", columnTitle);
      editColumnForm.appendChild(columnOldTitle);

      var columnState = document.createElement('select');
      columnState.setAttribute("name", "columnState");
      var optInCorso = document.createElement("option");
      optInCorso.value = "in corso";
      optInCorso.text = "in corso";
      columnState.appendChild(optInCorso);
      var optArchiviato = document.createElement("option");
      optArchiviato.value = "archiviato";
      optArchiviato.text = "archiviato";
      columnState.appendChild(optArchiviato);
      editColumnForm.appendChild(columnState);

      var submit = document.createElement('button');
      submit.className = 'btn-add-tile';
      submit.setAttribute("type", "submit");
      submit.setAttribute("onclick", "closeEditColumnForm(\"" + columnTitle +"\")");
      submit.innerHTML = "Conferma Modifiche";
      editColumnForm.appendChild(submit);

      var cancel = document.createElement('button');
      cancel.className = 'btn-delete-column';
      cancel.setAttribute("onclick", "closeEditColumnForm(\"" + columnTitle +"\")");
      cancel.setAttribute("type", "button");
      cancel.innerHTML = "Annulla";
      editColumnForm.appendChild(cancel);

      document.getElementById("view").appendChild(editColumnForm);
      document.getElementById("editColumnForm" + columnTitle).style.display = "block";
    }

    function closeEditColumnForm(columnTitle){
      document.getElementById("editColumnForm" + columnTitle).style.display = "none";
    }

    function openEditTileForm(tileID, tileTitle, tileAuthor, tileContent, tileMessageType, tileContentType, tileColumn){
      var editTileForm = document.createElement("form");
      editTileForm.className = "form-popup-add-tile";
      editTileForm.setAttribute("method", "get");
      editTileForm.setAttribute("action", "/editTile");
      editTileForm.setAttribute("id", "editTileForm" + tileID);

      var hiddenID = document.createElement('input');
      hiddenID.setAttribute("type", "hidden");
      hiddenID.setAttribute("value", tileID);
      hiddenID.setAttribute("name", "id");
      editTileForm.appendChild(hiddenID); 

      var editTileH2 = document.createElement('h2');
      editTileH2.innerHTML = "<center>Modifica Tile</center><br>";
      editTileForm.appendChild(editTileH2);

      var tileTitleInput = document.createElement('input');
      tileTitleInput.setAttribute("type", "text");
      tileTitleInput.setAttribute("name", "tileTitle");
      tileTitleInput.setAttribute("value", tileTitle);
      editTileForm.appendChild(tileTitleInput);

      var tileAuthorInput = document.createElement('input');
      tileAuthorInput.setAttribute("type", "text");
      tileAuthorInput.setAttribute("name", "tileAuthor");
      tileAuthorInput.setAttribute("value", tileAuthor);
      editTileForm.appendChild(tileAuthorInput);


      if (tileContentType === 'testo'){
        var tileContentInput = document.createElement('textarea');
        tileContentInput.setAttribute("rows", "5");
        tileContentInput.setAttribute("name", "tileContent");
        tileContentInput.value = tileContent;
        editTileForm.appendChild(tileContentInput);
      }
      else {
        var tileImage = document.createElement('input');
        tileImage.setAttribute("name", "tileContent");
        tileImage.setAttribute("enctype", "multipart/form-data");
        tileImage.setAttribute("accept", "image/*");
        tileImage.setAttribute("type", "file");
        editTileForm.appendChild(tileImage);
      }

      var tileMessageType = document.createElement('select');
      tileMessageType.setAttribute("name", "tileMessageType");
      var optOrganizzativo = document.createElement("option");
      optOrganizzativo.value = "organizzativo";
      optOrganizzativo.text = "organizzativo";
      tileMessageType.appendChild(optOrganizzativo);
      var optInformativo = document.createElement("option");
      optInformativo.value = "informativo";
      optInformativo.text = "informativo";
      tileMessageType.appendChild(optInformativo);
      editTileForm.appendChild(tileMessageType);

      var tileColumnSelect = document.createElement('select');
      tileColumnSelect.setAttribute("name", "tileColumnSelect");

      var optStartingColumn = document.createElement("option");
      optStartingColumn.value = tileColumn;
      optStartingColumn.text = tileColumn;
      tileColumnSelect.appendChild(optStartingColumn);

      var columns = "#{columns}";
      var columnList = JSON.parse(columns.replace(/&quot;/g, '"'));
      columnList.forEach(column => {
        if (column.titolo !== tileColumn){
          var newOpt = document.createElement("option");
          newOpt.value = column.titolo;
          newOpt.text = column.titolo;
          tileColumnSelect.appendChild(newOpt);
        }
      })
      editTileForm.appendChild(tileColumnSelect);

      var tileSubmit = document.createElement('button');
      tileSubmit.className = 'btn-add-tile';
      tileSubmit.setAttribute("type", "submit");
      tileSubmit.setAttribute("onclick", "closeEditTileForm(\"" + tileID +"\")");
      tileSubmit.innerHTML = "Conferma Modifiche";
      editTileForm.appendChild(tileSubmit);

      var tileDelete = document.createElement('button');
      tileDelete.className = 'btn-delete-column';
      tileDelete.setAttribute("onclick", "deleteTile(\"" + tileID +"\")");
      tileDelete.setAttribute("type", "button");
      tileDelete.innerHTML = "Cancella Tile";
      editTileForm.appendChild(tileDelete);

      var tileCancel = document.createElement('button');
      tileCancel.className = 'btn-delete-column';
      tileCancel.setAttribute("onclick", "closeEditTileForm(\"" + tileID +"\")");
      tileCancel.setAttribute("type", "button");
      tileCancel.innerHTML = "Annulla";
      editTileForm.appendChild(tileCancel);

      document.getElementById("view").appendChild(editTileForm);
      document.getElementById("editTileForm" + tileID).style.display = "block";
    }

    function closeEditTileForm(tileID){
      document.getElementById("editTileForm" + tileID).style.display = "none";
    }

    function deleteTile(tileID){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", '/deleteTile?tileID=' + tileID);
      xmlHttp.send(null);
      closeEditTileForm(tileID);
      window.location.replace("/");
    }

    function setMessageType(tileLocalID, type){
      if (type === 'text'){
        document.getElementById("image_" + tileLocalID).style.display = "none";
        document.getElementById("textarea_" + tileLocalID).style.display = "block";
      }
      else {
        document.getElementById("textarea_" + tileLocalID).style.display = "none";
        document.getElementById("image_" + tileLocalID).style.display = "block";
      }
    }