extends layout

block layout-content
  div.View
    h1.Banner Kanban Board
    div.kanban
      div.kanban-container
        div.kanban-column
          div.kanban-column-header ProvaHeader
          ul.kanban-column-list 
            li.card Carta
            li.card Carta 
          div.kanban-column-footer ProvaFooter

        div.kanban-column
        div.kanban-column
        div.kanban-column
        div.kanban-column

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='newColumnDialog()'
        ) Crea Nuova Colonna

    div.NewColumnDialog(style="display:none" id="newColumnDialog")
      label(for="columnTitle") Titolo: 
      input(
        type="text"
        id="columnTitle"
      )
      
  script. 

    var cardNum = 0;

    function newColumnDialog(){
      //alert("Prova");
      document.getElementById("newColumnDialog").show();
    }

    function addNewColumn(column, title, author, type, content){
      var inputElem = document.createElement('card');
      inputElem.id = 'Card' + cardNum;
      inputElem.nodeName = 'Card' + cardNum;
      cardNum++;
    }