extends layout

block layout-content
  div.View
    h1.Banner Kanban Board
    div.kanban
      div(id='con_inCorso').kanban-container
        div.kanban-column
          div.kanban-column-header Titolo Colonna
          ul.kanban-column-list 
            li.tile Tile
            li.tile Tile 
          div.kanban-column-footer In Corso
        div.kanban-column
        div.kanban-column
        hr(id='sep')
      div(id='con_archiviato').kanban-container
        div.kanban-column
          div.kanban-column-header Titolo Colonna
          ul.kanban-column-list 
            li.tile Tile
            li.tile Tile 
          div.kanban-column-footer Archiviato
        div.kanban-column
        div.kanban-column

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='newColumnDialog()'
        ) Crea Nuova Colonna

    div.NewColumnDialog(style="display:none" id="newColumnDialog")
      label(for="columnTitle") Titolo: 
      input(
        type="text"
        id="columnTitle"
      )
      
  script.
    
    var tileNum = 0;

    function newColumnDialog(){
      addNewColumn('Paolo Brosio', 'in corso');
    }

    function addNewTile(column, title, author, content_type, message_type, content){
      var inputElem = document.createElement('tile');
      inputElem.id = 'tile' + tileNum;
      inputElem.nodeName = 'tile' + tileNum;
      tileNum++;
    }

    function addNewColumn(title, type){
      if (type === 'in corso'){
        var strContainer = 'con_inCorso';
        var state = 'In Corso';
      }
      else {
        var strContainer = 'con_archiviato';
        var state = 'Archiviato';
      }
      var container = document.getElementById(strContainer);
      //var columnList = db.prepare("INSERT INTO columns (titolo, stato) VALUES (?, ?)")
      //  .run(title, type);

      var newHeader = document.createElement('div');
      newHeader.className = 'kanban-column-header';
      newHeader.setAttribute("id", "header_" + title);
      newHeader.innerHTML = title;

      var newColumn = document.createElement('div');
      newColumn.className = 'kanban-column';
      newColumn.setAttribute("id", "col_" + title);

      var newList = document.createElement('ul');
      newList.className = 'kanban-column-list';
      newList.setAttribute("id", "list_" + title);

      var newFooter = document.createElement('div');
      newFooter.className = 'kanban-column-footer';
      newFooter.setAttribute("id", "footer_" + title);
      newFooter.innerHTML = state;

      var newButton = document.createElement('button');
      newButton.className = 'btn-add-tile';
      newButton.setAttribute("id", "btn_" + title);
      newButton.innerHTML = 'Aggiungi Tile';
      //newButton.appendChild(document.createTextNode("Aggiungi Tile"));
    
      newColumn.appendChild(newHeader);
      newColumn.appendChild(newList);
      newColumn.appendChild(newFooter);
      newColumn.appendChild(newButton);
      
      if (type === 'in corso')
        container.insertBefore(newColumn, document.getElementById('sep'));      
      else
        container.appendChild(newColumn);
    }

    function loadColumns(){
      var columnList = db.prepare("SELECT * FROM columns").all();
      columnList.forEach(column => {
        var title = column.titolo;
        if (column.stato === 'in corso'){
          var container = document.getElementById('con_inCorso');

          var newHeader = document.createElement('header_' + title);
          newHeader.className = 'kanban-header';
          newHeader.innerHTML = title;

          var newColumn = document.createElement('col_' + title);
          newColumn.className = 'kanban-column';

          var newFooter = document.createElement('footer_' + title);
          newFooter.className = 'kanban-footer';
          newFooter.innerHTML = 'In Corso';

          document.getElementById('con_inCorso').appendChild(newHeader);
          document.getElementById('con_inCorso').appendChild(newColumn);
          document.getElementById('con_inCorso').appendChild(newFooter);

          var columnList = db.prepare("SELECT * FROM tiles WHERE titoloColonna=?").all(title);
          columnList.forEach(tile => {
            addNewTile(title, tile.titolo, tile.author, tile.tipo_contenuto,
             tile.tipo_messaggio, tile.contenuto);
          })
        }
        else {
          var container = document.getElementById('con_archiviato');

          var newHeader = document.createElement('header_' + title);
          newHeader.className = 'kanban-header';
          newHeader.innerHTML = title;

          var newColumn = document.createElement('col_' + title);
          newColumn.className = 'kanban-column';

          var newFooter = document.createElement('footer_' + title);
          newFooter.className = 'kanban-footer';
          newFooter.innerHTML = 'Archiviato';

          document.getElementById('con_archiviato').appendChild(newHeader);
          document.getElementById('con_archiviato').appendChild(newColumn);
          document.getElementById('con_archiviato').appendChild(newFooter);

          var columnList = db.prepare("SELECT * FROM tiles WHERE titoloColonna=?").all(title);
          columnList.forEach(tile => {
            addNewTile(title, tile.titolo, tile.author, tile.tipo_contenuto,
             tile.tipo_messaggio, tile.contenuto);
          })
        }
      })
    }