extends layout

block layout-content
  div.View
    h1.Banner Kanban Board
    div.kanban
      div.kanban-container
        div.kanban-column
          div.kanban-column-header ProvaHeader
          ul.kanban-column-list 
            li.card Carta
            li.card Carta 
          div.kanban-column-footer ProvaFooter

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='newColumnDialog()'
        ) Crea Nuova Colonna

    div.NewColumnDialog(style="display:none" id="newColumnDialog")
      label(for="columnTitle") Titolo: 
      input(
        type="text"
        id="columnTitle"
      )
      
  script. 
    function newColumnDialog(){
      //alert("Prova");
      document.getElementById("newColumnDialog").show();
    }