extends layout

block layout-content
  div.View(id='view')
    h1.Banner Kanban Board
    div.kanban
      div(id='con_inCorso').kanban-container
        hr(id='sep')
      div(id='con_archiviato').kanban-container

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='openAddColumnForm()'
        ) Crea Nuova Colonna

    div.form-popup-add-column(id='addColumnForm')
      form(action='/addNewColumn' method='GET') 
        h2 Aggiungi Colonna
        br
        | Titolo: 
        input(type='text', name='colTitle', placeholder='Colonna' required)
        br
        br
        | Stato: 
        select(name='colType')
          option(value='in corso') In Corso
          option(value='archiviato') Archiviato
        br
        br
        input(type='submit' class='btn-add-tile' value='Crea Colonna' onclick='closeAddColumnForm()')
        input(type='button' class='btn-delete-column' value='Annulla' onclick='closeAddColumnForm()')
      
  script.
    

    document.addEventListener("DOMContentLoaded", function() {
      loadColumns();
    });

    function addNewTile(column, title, author, content_type, message_type, content){
      var inputElem = document.createElement('tile');
      inputElem.id = 'tile' + tileNum;
      inputElem.nodeName = 'tile' + tileNum;
      tileNum++;
    }

    function addNewColumn(title, type){
      if (type === 'in corso'){
        var strContainer = 'con_inCorso';
        var state = 'In Corso';
      }
      else {
        var strContainer = 'con_archiviato';
        var state = 'Archiviato';
      }
      var container = document.getElementById(strContainer);

      var newHeader = document.createElement('div');
      newHeader.className = 'kanban-column-header';
      newHeader.setAttribute("id", "header_" + title);
      newHeader.innerHTML = title;

      var newColumn = document.createElement('div');
      newColumn.className = 'kanban-column';
      newColumn.setAttribute("id", "col_" + title);

      var newList = document.createElement('ul');
      newList.className = 'kanban-column-list';
      newList.setAttribute("id", "list_" + title);

      var newFooter = document.createElement('div');
      newFooter.className = 'kanban-column-footer';
      newFooter.setAttribute("id", "footer_" + title);
      newFooter.innerHTML = state;      
    
      newColumn.appendChild(newHeader);

      // Qui appendere i tiles alla lista
      var tiles = "#{tiles}";
      var tileList = JSON.parse(tiles.replace(/&quot;/g, '"'));
      tileList.forEach(tile => {
        if (tile.titoloColonna === title){
          var newTile = document.createElement('li');
          newTile.className = 'tile';
          newTile.setAttribute("id", "tile_" + tile.id)

          newTile.innerHTML = 
            '<b>Titolo:</b> ' + tile.titolo +
            '<br><b>Autore:</b> ' + tile.autore +
            '<br><b>Contenuto:</b> ' + tile.contenuto +
            '<br><b>Tipo Messaggio:</b> ' + tile.tipo_messaggio;

          newList.appendChild(newTile);
        }
      })

      newColumn.appendChild(newList);
      newColumn.appendChild(newFooter);

      var newHiddenTitle = document.createElement('input');
      newHiddenTitle.setAttribute("type", "hidden");
      newHiddenTitle.setAttribute("value", title);
      newHiddenTitle.setAttribute("name", "tileColumnTitle");

      var newEditForm = document.createElement('form');
      newEditForm.setAttribute("method", "get");
      newEditForm.setAttribute("action", "/editColumn");
      newEditForm.appendChild(newHiddenTitle);

      var newEditColumnButton = document.createElement('button');
      newEditColumnButton.className = 'btn-edit-column';
      newEditColumnButton.setAttribute("id", "btn_edit_" + title);
      newEditColumnButton.setAttribute("type", "submit");
      newEditColumnButton.innerHTML = 'Modifica Colonna';
      newEditForm.appendChild(newEditColumnButton);     

      if (type === 'in corso'){
        var newAddForm = document.createElement('button');
        newAddForm.setAttribute("onclick", "openAddTileForm(\"" + title + "\")");
        newAddForm.className = 'btn-add-tile';
        newAddForm.innerHTML = "Aggiungi Tile";    
        newColumn.appendChild(newAddForm);

        newColumn.appendChild(newEditForm);

        var newDeleteForm = document.createElement('form');
        newDeleteForm.setAttribute("method", "get");
        newDeleteForm.setAttribute("action", "/deleteColumn");
        newDeleteForm.appendChild(newHiddenTitle);

        var newDeleteColumnButton = document.createElement('button');
        newDeleteColumnButton.className = 'btn-delete-column';
        newDeleteColumnButton.setAttribute("id", "btn_delete_" + title);
        newDeleteColumnButton.setAttribute("type", "submit");
        newDeleteColumnButton.innerHTML = 'Rimuovi Colonna';
        newDeleteForm.appendChild(newDeleteColumnButton);
        newColumn.appendChild(newDeleteForm);

        container.insertBefore(newColumn, document.getElementById('sep'));    
      }  
      else{
        newColumn.appendChild(newEditForm);
        container.appendChild(newColumn);
      }
    }

    function loadColumns(){
      var columns = "#{columns}";
      var columnList = JSON.parse(columns.replace(/&quot;/g, '"'));
      columnList.forEach(column => {
        addNewColumn(column.titolo, column.stato);
      })
    }

    function openAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "block";
    }

    function closeAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "none";
    }

    function openAddTileForm(columnTitle){
      var addTileForm = document.createElement("form");
      addTileForm.className = "form-popup-add-tile";
      addTileForm.setAttribute("method", "get");
      addTileForm.setAttribute("action", "/addNewTile");
      addTileForm.setAttribute("id", "addTileForm" + columnTitle);

      var hiddenTitle = document.createElement('input');
      hiddenTitle.setAttribute("type", "hidden");
      hiddenTitle.setAttribute("value", columnTitle);
      hiddenTitle.setAttribute("name", "tileColumnTitle");
      addTileForm.appendChild(hiddenTitle);

      var tileTitle = document.createElement('input');
      tileTitle.setAttribute("type", "text");
      tileTitle.setAttribute("name", "tileTitle");
      tileTitle.setAttribute("placeholder", "Titolo");
      addTileForm.appendChild(tileTitle);

      var tileAuthor = document.createElement('input');
      tileAuthor.setAttribute("type", "text");
      tileAuthor.setAttribute("name", "tileAuthor");
      tileAuthor.setAttribute("placeholder", "Autore");
      addTileForm.appendChild(tileAuthor); 

      var tileContent = document.createElement('input');
      tileContent.setAttribute("type", "text");
      tileContent.setAttribute("name", "tileContent");
      tileContent.setAttribute("placeholder", "Contenuto");
      addTileForm.appendChild(tileContent); 

      var tileMessageType = document.createElement('select');
      tileMessageType.setAttribute("name", "tileMessageType");
      var optOrganizzativo = document.createElement("option");
      optOrganizzativo.value = "organizzativo";
      optOrganizzativo.text = "organizzativo";
      tileMessageType.appendChild(optOrganizzativo);
      var optInformativo = document.createElement("option");
      optInformativo.value = "informativo";
      optInformativo.text = "informativo";
      tileMessageType.appendChild(optInformativo);
      addTileForm.appendChild(tileMessageType);

      var tileSubmit = document.createElement('button');
      tileSubmit.className = 'btn-add-tile';
      tileSubmit.setAttribute("type", "submit");
      tileSubmit.setAttribute("onclick", "closeAddTileForm(\"" + columnTitle +"\")");
      tileSubmit.innerHTML = "Crea Tile";
      addTileForm.appendChild(tileSubmit);

      var tileCancel = document.createElement('button');
      tileCancel.className = 'btn-delete-column';
      tileCancel.setAttribute("onclick", "closeAddTileForm(\"" + columnTitle +"\")");
      tileCancel.setAttribute("type", "button");
      tileCancel.innerHTML = "Annulla";
      addTileForm.appendChild(tileCancel);

      document.getElementById("view").appendChild(addTileForm);
      document.getElementById("addTileForm" + columnTitle).style.display = "block";
    }

    function closeAddTileForm(columnTitle){
      document.getElementById("addTileForm" + columnTitle).style.display = "none";
    }

    function openEditColumnForm(){
      document.getElementById("editColumnForm").style.display = "none";
    }

    function closeEditColumnForm(){
      document.getElementById("editColumnForm").style.display = "none";
    }