extends layout

block layout-content
  div.View
    h1.Banner Kanban Board
    div.kanban
      div(id='con_inCorso').kanban-container
        hr(id='sep')
      div(id='con_archiviato').kanban-container

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='openAddColumnForm()'
        ) Crea Nuova Colonna

    div.form-popup-add-column(id='addColumnForm')
      form(action='/addNewColumn' method='GET') 
        h2 Aggiungi Colonna
        br
        | Titolo: 
        input(type='text', name='colTitle', placeholder='Colonna' required)
        br
        br
        | Stato: 
        select(name='colType')
          option(value='in corso') In Corso
          option(value='archiviato') Archiviato
        br
        br
        input(type='submit' class='btn-add-tile' value='Crea Colonna' onclick='closeAddColumnForm()')
        input(type='button' class='btn-delete-column' value='Annulla' onclick='closeAddColumnForm()')

    div.form-popup-add-column(id='addTileForm')
      form(action='/addNewTile' method='GET') 
        h2 Aggiungi Tile
        br
        | Titolo: 
        input(type='text', name='tileTitle', placeholder='Colonna' required)
        br
        br
        | Stato: 
        select(name='tileMessageType')
          option(value='organizzativo') In Corso
          option(value='informativo') Archiviato
        br
        br
        | Autore: 
        input(type='text', name='tileAuthor', placeholder='Autore' required)
        br
        br
        input(type='submit' class='btn-add-tile' value='Crea Tile' onclick='closeAddTileForm()')
        input(type='button' class='btn-add-tile' value='Annulla' onclick='closeAddTileForm()')
      
  script.
    

    document.addEventListener("DOMContentLoaded", function() {
      loadColumns();
    });

    function addNewTile(column, title, author, content_type, message_type, content){
      var inputElem = document.createElement('tile');
      inputElem.id = 'tile' + tileNum;
      inputElem.nodeName = 'tile' + tileNum;
      tileNum++;
    }

    function addNewColumn(title, type){
      if (type === 'in corso'){
        var strContainer = 'con_inCorso';
        var state = 'In Corso';
      }
      else {
        var strContainer = 'con_archiviato';
        var state = 'Archiviato';
      }
      var container = document.getElementById(strContainer);

      var newHeader = document.createElement('div');
      newHeader.className = 'kanban-column-header';
      newHeader.setAttribute("id", "header_" + title);
      newHeader.innerHTML = title;

      var newColumn = document.createElement('div');
      newColumn.className = 'kanban-column';
      newColumn.setAttribute("id", "col_" + title);

      var newList = document.createElement('ul');
      newList.className = 'kanban-column-list';
      newList.setAttribute("id", "list_" + title);

      var newFooter = document.createElement('div');
      newFooter.className = 'kanban-column-footer';
      newFooter.setAttribute("id", "footer_" + title);
      newFooter.innerHTML = state;      
    
      newColumn.appendChild(newHeader);

      // Qui appendere i tiles alla lista
      var tiles = "#{tiles}";
      var tileList = JSON.parse(tiles.replace(/&quot;/g, '"'));
      tileList.forEach(tile => {
        if (tile.titoloColonna === title){
          var newTile = document.createElement('li');
          newTile.className = 'tile';
          newTile.setAttribute("id", "tile_" + tile.id)

          newTile.innerHTML = 
            '\n<b>Titolo:</b> ' + tile.titolo +
            '\n<b>Autore:</b> ' + tile.autore +
            '\n<b>Contenuto:</b> ' + tile.contenuto +
            '\n<b>Tipo Messaggio:</b> ' + tile.tipo_messaggio;

          newList.appendChild(tile);
        }
      })

      newColumn.appendChild(newList);
      newColumn.appendChild(newFooter);

      var newHiddenTitle = document.createElement('input');
      newHiddenTitle.setAttribute("type", "hidden");
      newHiddenTitle.setAttribute("value", title);
      newHiddenTitle.setAttribute("name", "tileColumnTitle");

      var newEditForm = document.createElement('form');
      newEditForm.setAttribute("method", "get");
      newEditForm.setAttribute("action", "/editColumn");
      newEditForm.appendChild(newHiddenTitle);

      var newEditColumnButton = document.createElement('button');
      newEditColumnButton.className = 'btn-edit-column';
      newEditColumnButton.setAttribute("id", "btn_edit_" + title);
      newEditColumnButton.setAttribute("type", "submit");
      newEditColumnButton.innerHTML = 'Modifica Colonna';
      newEditForm.appendChild(newEditColumnButton);     

      if (type === 'in corso'){
        var newAddForm = document.createElement('form');
        newAddForm.setAttribute("method", "get");
        newAddForm.setAttribute("action", "/addNewTile");        
        newAddForm.appendChild(newHiddenTitle);

        var newAddTileButton = document.createElement('button');
        newAddTileButton.className = 'btn-add-tile';
        newAddTileButton.setAttribute("id", "btn_add_" + title);
        newAddTileButton.setAttribute("type", "submit");
        newAddTileButton.innerHTML = 'Aggiungi Tile';
        newAddForm.appendChild(newAddTileButton);
        newColumn.appendChild(newAddForm);

        newColumn.appendChild(newEditForm);

        var newDeleteForm = document.createElement('form');
        newDeleteForm.setAttribute("method", "get");
        newDeleteForm.setAttribute("action", "/deleteColumn");
        newDeleteForm.appendChild(newHiddenTitle);

        var newDeleteColumnButton = document.createElement('button');
        newDeleteColumnButton.className = 'btn-delete-column';
        newDeleteColumnButton.setAttribute("id", "btn_delete_" + title);
        newDeleteColumnButton.setAttribute("type", "submit");
        newDeleteColumnButton.innerHTML = 'Rimuovi Colonna';
        newDeleteForm.appendChild(newDeleteColumnButton);
        newColumn.appendChild(newDeleteForm);

        container.insertBefore(newColumn, document.getElementById('sep'));    
      }  
      else{
        newColumn.appendChild(newEditForm);
        container.appendChild(newColumn);
      }
    }

    function loadColumns(){
      var columns = "#{columns}";
      var columnList = JSON.parse(columns.replace(/&quot;/g, '"'));
      columnList.forEach(column => {
        addNewColumn(column.titolo, column.stato);
      })
    }

    function openAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "block";
    }

    function closeAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "none";
    }

    function openAddTileForm(){
      document.getElementById("addTileForm").style.display = "block";
    }

    function closeAddTileForm(){
      document.getElementById("addTileForm").style.display = "none";
    }