extends layout

block layout-content
  div.View
    h1.Banner Kanban Board
    div.kanban
      div(id='con_inCorso').kanban-container
        hr(id='sep')
      div(id='con_archiviato').kanban-container

    div.NavButtons
      button(
        type='button'
        class='NavButton'
        onclick='openAddColumnForm()'
        ) Crea Nuova Colonna

    div.form-popup(id='addColumnForm')
      form(action='/addNewColumn' method='GET') 
        h2 Aggiungi Colonna
        br
        | Titolo: 
        input(type='text', name='colTitle', placeholder='Colonna' required)
        br
        br
        | Stato: 
        select(name='colType')
          option(value='in corso') In Corso
          option(value='archiviato') Archiviato
        br
        br
        input(type='submit' class='btn-add-tile' value='Crea Colonna' onclick='closeAddColumnForm()')
        input(type='button' class='btn-add-tile' value='Annulla' onclick='closeAddColumnForm()')
      
  script.
    

    document.addEventListener("DOMContentLoaded", function() {
      loadColumns();
    });

    function addNewTile(column, title, author, content_type, message_type, content){
      var inputElem = document.createElement('tile');
      inputElem.id = 'tile' + tileNum;
      inputElem.nodeName = 'tile' + tileNum;
      tileNum++;
    }

    function addNewColumn(title, type){
      if (type === 'in corso'){
        var strContainer = 'con_inCorso';
        var state = 'In Corso';
      }
      else {
        var strContainer = 'con_archiviato';
        var state = 'Archiviato';
      }
      var container = document.getElementById(strContainer);

      var newHeader = document.createElement('div');
      newHeader.className = 'kanban-column-header';
      newHeader.setAttribute("id", "header_" + title);
      newHeader.innerHTML = title;

      var newColumn = document.createElement('div');
      newColumn.className = 'kanban-column';
      newColumn.setAttribute("id", "col_" + title);

      var newList = document.createElement('ul');
      newList.className = 'kanban-column-list';
      newList.setAttribute("id", "list_" + title);

      var newFooter = document.createElement('div');
      newFooter.className = 'kanban-column-footer';
      newFooter.setAttribute("id", "footer_" + title);
      newFooter.innerHTML = state;      
    
      newColumn.appendChild(newHeader);

      // Qui appendere i tiles alla lista
      var tiles = "#{tiles}";
      var tileList = JSON.parse(tiles.replace(/&quot;/g, '"'));
      tileList.forEach(tile => {
        if (tile.titoloColonna === title){
          var newTile = document.createElement('li');
          newTile.className = 'tile';
          newTile.setAttribute("id", "tile_" + tile.id)

          newTile.innerHTML = 
            '<b>Titolo:</b> ' + tile.titolo +
            '<b>Autore:</b> ' + tile.autore +
            '<b>Contenuto:</b> ' + tile.contenuto +
            '<b>Tipo Messaggio:</b> ' + tile.tipo_messaggio;

          newList.appendChild(tile);
        }
      })

      newColumn.appendChild(newList);
      newColumn.appendChild(newFooter);

      if (type === 'in corso'){
        var newButton = document.createElement('button');
        newButton.className = 'btn-add-tile';
        newButton.setAttribute("id", "btn_" + title);
        newButton.innerHTML = 'Aggiungi Tile';
        newColumn.appendChild(newButton);
        container.insertBefore(newColumn, document.getElementById('sep'));    
      }  
      else
        container.appendChild(newColumn);
    }

    function loadColumns(){
      var columns = "#{columns}";
      var columnList = JSON.parse(columns.replace(/&quot;/g, '"'));
      columnList.forEach(column => {
        addNewColumn(column.titolo, column.stato);
      })
    }

    function openAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "block";
    }

    function closeAddColumnForm(){
      document.getElementById("addColumnForm").style.display = "none";
    }